<%=link_to 'HOME','/' %>
<% if can? :index, @patient %>
  <h>Pathient</h>
  <%= current_user.phone_number %>
  <%= render 'form' %>
<% end %>
<div id="show-doctors"></div>
Your appointments
<br>

<div id="patient-appointments">
  <% if @appointments %>
    <% @appointments.each do |n| %>
      <div id="<%= n.doctor_id %>">
        <%= n.first_name %>
        <%= n.last_name %>
        <%= n.phone_number %>
    <% end %>
  <% end %>
  </div>
</div>
<div id="added-appointments"></div>
