<h>Doctor</h>
<h3>an appointment with this doctor: </h3>
<% if @appointments %>
  <% @appointments.each do |n| %>
    <div id="<%=n.patient_id%>">
      <%=n.first_name %>
      <%=n.last_name %>
      <%=n.phone_number%>
      <div data-controller="writeRecommendation" data-writeRecommendation-my-value="<%=n.patient_id%>" data-writeRecommendation-my-value2="<%=@doctor.id%>" >
        <textarea></textarea>
        <button data-action="click->writeRecommendation#greet">Send recommendation</button>
      </div>
  <% end %>
<% end %>
</div>
<div id="show-doctors"></div>
